body {
    background-color: rgb(197, 255, 236);
}

.header {
    text-align: center;
}

h1 {
    color: brown;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium';
}

h4 {
    color: blue;
}