body {
    box-sizing: border-box;
    background-color: rgb(197, 255, 236);
}

.header {
    text-align: center;
}

h1 {
    color: brown;
    font-size: 44px;
    font-family: 'Franklin Gothic Medium';
}

h4 {
    color: blue;
}

.text {
    align-items: center;
    border: 1.5px solid rgb(108, 105, 105);
    font-size: 18px;
    width: 550px;
}